@import "tailwindcss";

@theme {
  --color-axius-blue: #0066ff;
  --color-axius-dark-blue: #004db3;
  --color-axius-red: #ee3124;
  --color-axius-gray: #f4f4f4;
  
  --font-sans: "Inter", "system-ui", "sans-serif";
}

:root {
  --axius-blue: #0066ff;
  --axius-red: #ee3124;
}

body {
  @apply bg-white text-slate-800 font-sans;
}

input:focus {
  @apply outline-none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
}

